//_layout.scss
@mixin wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: fixed;
    //background-color: rgba(0,0,0,0.5);
}

.menu-wrapper{
    @include wrapper();
}

.game-wrapper{
    @include wrapper();
}

.menu-content{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    div{
            flex-grow: 1;
    }
}

.game-content{
    display: flex;
    width: 100%;
    height: 100%;
    margin:auto;
}


.visible {
    display: inline-block;
}

// Fronties usually call this one 'hidden'.
.invisible {
    display: none
}